<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RubiLom</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
    <span class="circle-image">
        <img class="image" src="https://media.giphy.com/media/TGiAo7gTEQ1bl3dKIX/giphy.gif" alt="gif" width="72" height="57">
    </span>
    <img class="image2" src="/static/img/1010.png" alt="img" width="60" height="60">
    <h1 class="display-5 fw-bold">RubiLom</h1>
    <div class="col-lg-6 mx-auto">
      <p class="first-text">{ Junior Python Developer }</p>
        <p class="next-text">Sup! My name is Arthur, and I'm 15 y.o. I am from Ukraine 🇺🇦</p>
            <h4 style="text-align: center;"><strong>Technologies</strong></h4>
        <img class="django-img" src="/static/img/django.png" alt="img" width="100" height="100">
        <img class="git-img" src="/static/img/git1.png" alt="img" width="100" height="100">
        <img class="soon-img" src="/static/img/soon.png" alt="img" width="110" height="120">
        <p style="text-align:center"><span style="font-size:24px"><strong>Link</strong></span></p>
        <a href="https://github.com/RubiLom"><img class="github-img" src="/static/img/github2.png" alt="img" width="90" height="100"></a>
        <a href="https://discord.com/users/530108998381207562"><img class="discord-img" src="/static/img/discord.png" alt="img" width="80" height="80"></a>
        <a href="https://t.me/RubiLom"><img class="telegram-img" src="/static/img/telegram.png" alt="img" width="140" height="80"></a>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

</body>
</html>
